.git/
.github/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.pytest_tmp/
**/*.egg-info/
python/openops_core/tests/
python/openops_business/tests/
python/openops_api/tests/
**/openops.db
**/target/
**/mutants/
**/.mutmut-cache
docs/
*.md
LICENSE
